*{
  padding: 2px;
}
.diagram{
  margin: 20px;
  display: flex;
  align-items: flex-end;
}
.diagram__colum{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.table_cl{
  margin-left: 5px;
}
.diagram_color{
  width: 50px;
  background-color: blue;
}
.alt_text{
  margin: 0;
}
.addPading{
  margin-top: 22px;
}
#row, #col_ex{
  display: none;
}
